.onHover-sizeUp {
	transition: 0.1s;
}

.onHover-sizeUp:hover {
	transform: scale(1.1);
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
}

p {
	margin: 0px;
}

.main {
	--yellow: #FDB100;
	--grey: #9196A1;
	--lightYellow: #FFEFCC;
	--standartMargin: 5px 0;

	display: flex;
	flex-direction: column;
	justify-content: center;

	font-family: Montserrat;

	background-color: #FEFEFB;
	max-width: 1200px;

	margin: 20px auto;
	padding: 44px 120px;
}