body {
    min-width: 1440px;
}

.hovered-bg-color-light,
hovered-bg-color-dark {
    cursor: pointer;
    transition: 0.1s;
    border-radius: 5px;
    padding: 5px;
}

.hovered-bg-color-light:hover {
    background: var(--lightYellow) !important;
}

.hovered-bg-color-dark:hover {
    background: var(--darkYellow) !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

p {
    margin: 0px;
}

.main {
    --yellow: #FDB100;
    --grey: #9196A1;
    --lightYellow: #FFEFCC;
    --darkYellow: #d69e1b;
    --standartMargin: 5px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Montserrat;

    background-color: #FEFEFB;
    max-width: 1200px;

    margin: 0px auto;
    padding: 0px 120px;
}