<div class="header">
    <div class="navigation">
        <p class="recipes hovered-bg-color-light">Recipes</p>
        <p class="links hovered-bg-color-light" [ngClass]=" {'currentLink': isMain}">Главная</p>
        <p class="links hovered-bg-color-light" [ngClass]=" {'currentLink': isRecipesList}">Рецепты</p>
        <p class="links hovered-bg-color-light" [ngClass]=" {'currentLink': isFavorite}">Избранное</p>
    </div>
    <div>
        <div class=" account" *ngIf="this.authServise.isLoggedIn()">
            <div class="elipse">
                <img src="assets/img/user.png">
            </div>
            <p class="userName">Привет, {{userName}}</p>
            <div class="rectangle"></div>
            <img class="exit-icon hovered-bg-color-light" src="assets/img/exit.png" (click)="this.authServise.logout()">
        </div>
        <div class=" account" *ngIf="!this.authServise.isLoggedIn()">
            <div class="elipse">
                <img src="assets/img/user.png">
            </div>
            <p class="login hovered-bg-color-light" routerLink="/login">Войти</p>
            <div class="rectangle"></div>
            <p class="registr hovered-bg-color-light" routerLink="/register">Зарегистрироваться</p>
        </div>
    </div>
</div>