<div class="main">
    <div class="Header">
        <div class="Navigation">
            <p class="recipes onHover-sizeUp">Resipes</p>
            <p class="links onHover-sizeUp">Главная</p>
            <p class="links CurrentLink onHover-sizeUp">Рецепты</p>
            <p class="links onHover-sizeUp">Избранное</p>
        </div>
        <div class="User">
            <p margin="inherit">Привет, Username</p>
            <p>|</p>
            <p class="exit onHover-sizeUp">Выйти</p>
        </div>
    </div>

    <div class="MainContainer">
        <div style="height: 50px;"></div>
        <div class="TopBar">
            <p class="Recipe">Рецепты</p>
            <button class="AddRecipeButton onHover-sizeUp" routerLink="AddRecipe"> + Добавить рецепт</button>
        </div>

        <div class="CategoriesBar">
            <div class="Category onHover-sizeUp">
                <div class="Rectangle"> </div>
                <p class="CategoryTitle">Простые блюда</p>
            </div>
            <div class="Category onHover-sizeUp">
                <div class="Rectangle"> </div>
                <p class="CategoryTitle">Детское</p>
            </div>
            <div class="Category onHover-sizeUp">
                <div class="Rectangle"> </div>
                <p class="CategoryTitle">От шеф-поваров</p>
            </div>
            <div class="Category onHover-sizeUp">
                <div class="Rectangle"> </div>
                <p class="CategoryTitle">На праздник</p>
            </div>
        </div>

        <div class="SearchBar">
            <p class="SearchRecipe">Поиск рецепта</p>
            <div class="SearchBarCenter">
                <input class="InpytRecipe" placeholder="Название блюда..." />
                <div class="searchBar-tags">
                    <p class="searchBar-tag onHover-sizeUp">мясо</p>
                    <p class="searchBar-tag onHover-sizeUp">деликатесы</p>
                    <p class="searchBar-tag onHover-sizeUp">пироги</p>
                    <p class="searchBar-tag onHover-sizeUp">рыба</p>
                    <p class="searchBar-tag onHover-sizeUp">пост</p>
                </div>
            </div>
            <button class="SearchButton onHover-sizeUp"> Поиск</button>
        </div>

        <div style="height: 50px;"></div>
        <div class="RecipeList" *ngFor="let recipe of recipes;">
            <div class="recipeBox">
                <div class="recipeBox-picture">
                    <p>фото рецепта</p>
                </div>
                <div class="MainField">
                    <div class="recipeBox-tags-likes">
                        <div class="flex-row">
                            <div *ngFor="let tag of recipe.tags;">
                                <p class="recipeBox-tag">#{{tag}}</p>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="recipeBox-likes-favor">
                                <img src="assets/img/like.png">
                                <p class="recipeBox-likes-favor-font">{{recipe.likesCount}}</p>
                            </div>
                            <div class="recipeBox-likes-favor">
                                <img src="assets/img/star.png">
                                <p class="recipeBox-likes-favor-font">{{recipe.favoritesCount}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="recipeBox-title">{{recipe.title}}</p>
                    <p class="recipeBox-content">{{recipe.shortDescription}}</p>
                    <div class="recipeBox-info">
                        <div class="recipeBox-miniBlock">
                            <img class="recipeBox-svg" src="assets/img/time.svg">
                            <div>
                                <p class="recipeBox-info-title">Время приготовления:</p>
                                <p class="recipeBox-info-number">{{recipe.preparingTime}} минут</p>
                            </div>
                        </div>
                        <div class="recipeBox-miniBlock">
                            <img class="recipeBox-svg" src="assets/img/person.svg">
                            <div>
                                <p class="recipeBox-info-title">Рецепт на:</p>
                                <p class="recipeBox-info-number">{{recipe.preparingTime}} персон</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loadMore">
            <button class="loadMore-button onHover-sizeUp">Загрузить еще</button>
        </div>
    </div>

    
    <div class="Footer">
        <div class="GreyBar"></div>
        <div class="footer-text">
            <p class="recipes">Resipes</p>
            <p>@Resipes 2021 by Dmcharlie19 </p>
        </div>
    </div>
</div>