<div class="main">
    <app-header [userName]="'userName'" [isRecipesList]="1"></app-header>

    <div class="MainContainer">
        <div class="topBar">
            <p class="topBar-title">Рецепты</p>
            <button class="topBar-addRecipeButton onHover-sizeUp" routerLink="AddRecipe"> + Добавить рецепт</button>
        </div>

        <div class="categoriesBar">
            <div class="categoriesBar-category onHover-sizeUp">
                <div class="categoriesBar-rectangle"> </div>
                <p class="categoriesBar-categoryTitle">Простые блюда</p>
            </div>
            <div class="categoriesBar-category onHover-sizeUp">
                <div class="categoriesBar-rectangle"> </div>
                <p class="categoriesBar-categoryTitle">Детское</p>
            </div>
            <div class="categoriesBar-category onHover-sizeUp">
                <div class="categoriesBar-rectangle"> </div>
                <p class="categoriesBar-categoryTitle">От шеф-поваров</p>
            </div>
            <div class="categoriesBar-category onHover-sizeUp">
                <div class="categoriesBar-rectangle"> </div>
                <p class="categoriesBar-categoryTitle">На праздник</p>
            </div>
        </div>

        <div class="searchBar">
            <p class="searchBar-searchRecipe">Поиск рецепта</p>
            <div class="searchBar-center">
                <input class="searchBar-inputRecipe" placeholder="Название блюда..." />
                <div class="searchBar-tags">
                    <p class="searchBar-tag onHover-sizeUp">мясо</p>
                    <p class="searchBar-tag onHover-sizeUp">деликатесы</p>
                    <p class="searchBar-tag onHover-sizeUp">пироги</p>
                    <p class="searchBar-tag onHover-sizeUp">рыба</p>
                    <p class="searchBar-tag onHover-sizeUp">пост</p>
                </div>
            </div>
            <button class="searchBar-searchButton onHover-sizeUp"> Поиск</button>
        </div>

        <div style="height: 50px;"></div>
        <div class="RecipeList" *ngFor="let recipe of recipes;">
            <div class="recipeBox">
                <div class="recipeBox-picture">
                    <p>фото рецепта</p>
                </div>
                <div class="recipeBox-mainField">
                    <div class="recipeBox-tags-likes">
                        <div class="flex-row">
                            <div *ngFor="let tag of recipe.tags;">
                                <p class="recipeBox-tag">#{{tag}}</p>
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="recipeBox-likes-favor">
                                <img src="assets/img/like.png">
                                <p class="recipeBox-likes-favor-font">{{recipe.likesCount}}</p>
                            </div>
                            <div class="recipeBox-likes-favor">
                                <img src="assets/img/star.png">
                                <p class="recipeBox-likes-favor-font">{{recipe.favoritesCount}}</p>
                            </div>
                        </div>
                    </div>
                    <p class="recipeBox-title">{{recipe.title}}</p>
                    <p class="recipeBox-content">{{recipe.shortDescription}}</p>
                    <div class="recipeBox-info">
                        <div class="recipeBox-miniBlock">
                            <img class="recipeBox-svg" src="assets/img/time.svg">
                            <div>
                                <p class="recipeBox-info-title">Время приготовления:</p>
                                <p class="recipeBox-info-number">{{recipe.preparingTime}} минут</p>
                            </div>
                        </div>
                        <div class="recipeBox-miniBlock">
                            <img class="recipeBox-svg" src="assets/img/person.svg">
                            <div>
                                <p class="recipeBox-info-title">Рецепт на:</p>
                                <p class="recipeBox-info-number">{{recipe.preparingTime}} персон</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loadMore">
            <button class="loadMore-button onHover-sizeUp">Загрузить еще</button>
        </div>
    </div>

    <app-footer></app-footer>
</div>