<div class="main">
    <app-header [isRecipesList]="1"></app-header>

    <div class="topBar">
        <p class="topBar-title">Рецепты</p>
        <button class="topBar-addRecipeButton hovered-bg-color-light" (click)="addRecipeClick()"> + Добавить
            рецепт</button>
    </div>

    <div class="categoriesBar">
        <div class="categoriesBar-category hovered-bg-color-light">
            <div class="categoriesBar-rectangle">
                <img src="assets/img/menu.png">
            </div>
            <p class="categoriesBar-categoryTitle">Простые блюда</p>
        </div>
        <div class="categoriesBar-category hovered-bg-color-light">
            <div class="categoriesBar-rectangle">
                <img src="assets/img/child.png">
            </div>
            <p class="categoriesBar-categoryTitle">Детское</p>
        </div>
        <div class="categoriesBar-category hovered-bg-color-light">
            <div class="categoriesBar-rectangle">
                <img src="assets/img/chef.png">
            </div>
            <p class="categoriesBar-categoryTitle">От шеф-поваров</p>
        </div>
        <div class="categoriesBar-category hovered-bg-color-light">
            <div class="categoriesBar-rectangle">
                <img src="assets/img/celebr.png">
            </div>
            <p class="categoriesBar-categoryTitle">На праздник</p>
        </div>
    </div>

    <div class="searchBar">
        <p class="searchBar-searchRecipe">Поиск рецепта</p>
        <div class="searchBar-center">
            <input class="searchBar-inputRecipe" placeholder="Название блюда..." />
            <div class="searchBar-tags">
                <p class="searchBar-tag hovered-bg-color-light">мясо</p>
                <p class="searchBar-tag hovered-bg-color-light">деликатесы</p>
                <p class="searchBar-tag hovered-bg-color-light">пироги</p>
                <p class="searchBar-tag hovered-bg-color-light">рыба</p>
                <p class="searchBar-tag hovered-bg-color-light">пост</p>
            </div>
        </div>
        <button class="searchBar-searchButton hovered-bg-color-light"> Поиск</button>
    </div>

    <div class="recipeList" *ngFor="let recipe of recipes;">
        <app-recipe-card [recipe]=recipe [imageUrl]=images[recipe.id]></app-recipe-card>
    </div>
    <div class="loadMore">
        <button class="loadMore-button hovered-bg-color-light">Загрузить еще</button>
    </div>

    <app-footer></app-footer>
</div>