.topBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    min-height: 50px;
    margin: 50px 0 0 0;
    border: inherit;
    border-radius: inherit;
}

.topBar-back {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

.topBar-back img {
    width: 18px;
    height: 12px;
}

.topBar-back p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--yellow);
    margin-left: 10px;
}

.topBar-title {
    font-weight: 700;
    font-size: 42px;
    flex-grow: 1;
}